main > .travel-post {
    height: auto;
    background-color: #F5EEE6;
    padding: 10px;
}

main > .travel-post > .container > article {
    display: flex;
    flex-wrap: unset;
    flex-direction: column;
}

main > .travel-post > .container > article > .images {
    width: 100%;
    box-sizing: unset;
}

main > .travel-post > .container > article > .stay-at-details {
    width: 100%;
    box-sizing: unset;
    text-align: center;
}

main > .travel-post > .container > article > .stay-at-details > h2 {
    font-family: "Oleo-Script";
    font-size: 66px;
    margin: 0;
}

main > .travel-post > .container > article > .stay-at-details > h3 {
    position: relative;
    z-index: 2;
    font-family: "Oleo-Script";
    font-size: 36px;
    background-color: #000000;
    color: #ffffff;
    width: 160px;
    margin: 0 auto;
}

main > .travel-post > .container > article > .stay-at-details > ul {
    list-style: none;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    font-family: "Instrument-Sans";
    font-weight: 100;
    line-height: 30px;
    margin: -25px auto 0;
    padding: 30px;
    width: auto;
    text-align: left;
}

main > .travel-post > .container > article > .stay-at-details > ul > li > p {
    white-space: pre-wrap;
}

main > .travel-post > .container > article > .places-to-go-details {
    width: 50%;
    box-sizing: border-box;
}

main > .travel-post > .container > article > .images > figure {
    display: block;
    float: none;
    margin: 20px;
    width: calc(50% - 40px);
}

main > .travel-post > .container > article > .images > figure > img {
    position: relative;
    width: 255px;
}

main > .travel-post > .container > article > .images > figure > img {
    border-left: 20px solid #ffffff;
    border-bottom: 20px solid #ffffff;
}

main > .travel-post > .container > article > .images > figure > figcaption {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

main > .travel-post > .container > article > .images > figure > img {
    margin: 0;
}

main > .travel-post > .container > article > .stay-at-details > .comment-section {
    margin-top: -20px;
    background-color: #ffffff;
    width: auto;
    padding: 30px;
    margin: -25px auto 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main > .travel-post > .container > article > .stay-at-details > .comment-section > .comment {
    border: 1px solid #999999;
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}

main > .travel-post > .container > article > .stay-at-details > .comment-section > .comment > div > span, 
main > .travel-post > .container > article > .stay-at-details > .comment-section > .comment > div > p, 
main > .travel-post > .container > article > .stay-at-details > .comment-section > .comment > div > button {
    text-align: left;
    font-family: "Instrument-Sans";
}

main > .travel-post > .container > article > .stay-at-details > .comment-section > .comment > div > button {
    border: 1px solid #000000;
    margin-left: 5px;
    float: left;
    cursor: pointer;
}

main > .travel-post > .container > article > .stay-at-details > .comment-section > .comment > div > .update-comment-btn {
    background-color: #f7ffd7;
}

main > .travel-post > .container > article > .stay-at-details > .comment-section > .comment > div > .delete-comment-btn {
    background-color: #e8524a;
}

main > .travel-post > .container > article > .stay-at-details > .comment-section > .comment > div > span {
    display: flex;
    align-items: center;
    font-weight: 600;
}

main > .travel-post > .container > article > .stay-at-details > .comment-section > .comment > div > span > span {
    margin-left: 10px;
    font-size: 12px;
    font-weight: normal;
}

main > .travel-post > .container > article > .stay-at-details > .comment-section > .comment > div > img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    object-fit: cover;
}

main > .travel-post > .container > article > .stay-at-details > .comment-section > .comment-input {
    width: 100%;
    
}

main > .travel-post > .container > article > .stay-at-details > .comment-section > .comment-input > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main > .travel-post > .container > article > .stay-at-details > .comment-section > .comment-input > h4 {
    font-family: "Instrument-Sans";
    text-align: left;
}
main > .travel-post > .container > article > .stay-at-details > .comment-section > .comment-input > form > textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #000000;
    font-size: 16px;
    padding: 10px 10px;
    font-family: "Instrument-Sans";
}

main > .travel-post > .container > article > .stay-at-details > .comment-section > .comment-input > form > button {
    border: 1px solid #000;
    padding: 5px 20px;
    font-family: "Instrument-Sans";
    font-size: 16px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.error-message {
    font-family: 'Inter';
    font-size: 12px;
    padding: 5px;
    margin-bottom: 5px;
    background: #e8524a;
    color: #FFFFFF;
}

.comment-error-container {
    margin-bottom: 5px;
}

.no-posts {
    border: 1px solid #000;
    padding: 5px 20px;
    font-family: "Instrument-Sans";
    font-size: 16px;
    background-color: #FFFFFF;
    width: auto;
    justify-self: center;
}

/* 40rem */
@media screen and (min-width: 640px) {
    main > .travel-post > .container > article {
        flex-wrap: wrap;
        flex-direction: unset;
    }
    
    main > .travel-post > .container > article > .images {
        width: 40%;
        box-sizing: border-box;
    }
    
    main > .travel-post > .container > article > .stay-at-details {
        width: 60%;
        box-sizing: border-box;
    }
    
    main > .travel-post > .container > article > .stay-at-details > h2 {
        font-size: 66px;
    }
    
    main > .travel-post > .container > article > .stay-at-details > ul {
        padding: 50px;
        width: auto;
    }
    
    main > .travel-post > .container > article > .images > figure {
        display: inline-block;
        float: none;
    }
    
    main > .travel-post > .container > article > .images > figure > img {
        position: absolute;
        width: 200px;
    }
    
    main > .travel-post > .container > article > .images > figure > img {
        margin: 130px 0 0 -50px;
    }
}

/* 48rem */
@media screen and (min-width: 768px) {
    main > .travel-post > .container > article > .images > figure > img {
        margin: 20px 0 0;
    }
}

/* 64 rem */
@media screen and (min-width: 1024px) {
    main > .travel-post > .container > article > .stay-at-details > h2 {
        font-size: 96px;
    }
    
    main > .travel-post > .container > article > .stay-at-details > ul {
        padding: 70px;
        width: 450px;
        margin-bottom: 50px;
    }

    main > .travel-post > .container > article > .images > figure {
        width: 90%;
        position: sticky;
        top: 0;
    }
    
    main > .travel-post > .container > article > .images > figure > img {
        position: relative;
        width: 100%;
    }
    
    main > .travel-post > .container > article > .stay-at-details > .comment-section {
        width: 450px;
    }
}

/* 80 rem */
@media screen and (min-width: 1280px) {
    main > .travel-post > .container > article > .stay-at-details > ul {
        width: 550px;
    }

    main > .travel-post > .container > article > .stay-at-details > .comment-section {
        width: 550px;
        padding: 70px;
        gap: 10px;
    }
}

.form-modal {
    display: none;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw; 
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    z-index: 999;
}

.form-modal > .container {
    display: flex;
    height: 100%;
    justify-content: center;
}

.form-modal > .container > .modal-inner {
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    align-self: center;
    animation-name: animateFade;
    animation-duration: 1s;
    font-family: "Instrument-Sans";
}

.form-modal > .container > .modal-inner > h3 {
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
}

.form-modal > .container > .modal-inner > button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    align-self: end;
    top: 20px;
}

.form-modal > .container > .modal-inner > button > img {
    height: 20px;
}

.form-modal > .container > .modal-inner > div > .confirm {
    border: 1px solid #000000;
    padding: 5px 20px;
    font-family: "Instrument-Sans";
    font-size: 16px;
    background-color: #a0d9a2;
    cursor: pointer;
    float: left;
}

.form-modal > .container > .modal-inner > .update_comment > div {
    text-align: left;
}

.form-modal > .container > .modal-inner > div > .reject {
    border: 1px solid #000000;
    padding: 5px 20px;
    font-family: "Instrument-Sans";
    font-size: 16px;
    background-color: #e8524a;
    cursor: pointer;
    float: left;
    margin-left: 10px;
}

.form-modal > .container > .modal-inner > div > label {
    font-family: "Instrument-Sans";
    font-size: 16px;
}

.form-modal > .container > .modal-inner > input, textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #000000;
    font-size: 16px;
    padding: 5px 5px;
    margin-bottom: 10px;
    font-family: "Instrument-Sans";
}

.form-modal > .container > .modal-inner > .update_comment > button {
    border: 1px solid #000;
    padding: 5px 20px;
    font-family: "Instrument-Sans";
    font-size: 16px;
    float: right;
    background-color: #a0d9a2;
    cursor: pointer;
}